.dark {
    background:#eee;
    border: 1px solid #eee;
    color: #111;
    transition: 0.5s;
  }
  .light {
    background:#111;
    border: 1px solid #111;
    color:#eee;
    box-shadow: 0 0 2px #ddd;
    transition: 0.5s;
  }

/* .container-dark {
    background-image: linear-gradient(to right, #505152 50%, #b3b6b8 150%);  
    color:#ccc;
    transition:.3s ease;
}

.container-light {
    background-image: linear-gradient(to right, #cfcfcf 0%, #fafafa 100%);  
    color:#333;
    transition:.3s ease;
} */




