* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-tittle-sscreen: 2.4rem;
  --main-tittle-lscreen: 2.5rem;
  --normal-text-sscreen: 1.2rem;
  --normal-text-lscreen: 1.3rem;
  --secundary-tittle-sscreen: 1.7rem;
  --secundary-tittle-lscreen: 1.8rem;
  --main-color: #1a253c;
  --text-color: #f3f3f3;
}

/* General body */
/* Using barlow font from google */
body {
  width: 100%;
  font-family: 'Barlow', sans-serif;
  background-color: var(--main-color);
  color: var(--text-color);
}

/* containter of header */
.contenedor {
  background-color: rgba(0, 0, 0, 0.007);
  box-shadow: 0 0 3px #aaa;
  width: 100%;
}

/* background onmousemove on header container */
.bg {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 238, 0, 0.5);
  box-shadow: 0 0 50px rgb(255, 217, 0);
  filter: blur(50px);
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: 0.08s;
}

/* container for navbar */
.cont-navbar {
  width: 100%;
  position: fixed;
  z-index: 600;
  transition: 0.3s;
  transform: translateY(-2.5em);
}

.navbar {
  width: 100%;
  z-index: 500;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Class that would be added when the arrow button is clicked to show the nav bar in mobile */
.show-nav {
  transform: translateY(0);
}

/* nav bar links */
.nav-a-dark {
  border-radius: 5px;
  text-decoration: none;
  padding: 12px 16px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.705);

}

.navbar a:hover {
  text-decoration: underline;
}

.nav-a-light {
  text-shadow: 0 0 1px #555;
  color: #111;
}


/* container of the button to show and hide the nava bar */
.show-nav-btn {
  position: sticky;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 550;
}

/* button to show and hide nav bar */
.button-nav {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 27px;
  text-shadow: 0 0 5px #fff;
  z-index: 551;
}

/* icon inside the button (arrow) */
.bx-chevron-up .bx-chevron-down {
  font-size: 35px;
}

/*button to change from dark mode to light mode and hover conf*/
.dark-light {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  transition: .1s;
}

.dark-light:hover {
  box-shadow: 0 0 8px #eee;
  cursor: pointer;
}

/* class that would be added to the button for dark mode */
.dark {
  background: #eee;
  border: 1px solid #eee;
  color: #111;
  transition: 0.5s;
}

/* class that would be added to the button for light mode */
.light {
  background-color: #111;
  border: 1px solid #111;
  color: #eee;
  box-shadow: 0 0 2px #ddd;
  transition: 0.5s;
}

.header-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

/* All related to profile part */
.prof {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  height: auto;
  width: 95%;
  padding: 20px;
}

.prof-img-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(12em + 1vw);
  height: calc(12em + 1vw);
  min-width: calc(12em + 1vw);
  min-height: calc(12em + 1vw);
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
}

.prof-img {
  filter: drop-shadow(0 -1px 3px #666);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  background-color: #f3f3f3;
  animation: prof-img 5s infinite;
}

@keyframes prof-img {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Profile tittle and description container */
.prof-name {
  width: 100%;
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: var(--main-tittle-sscreen);
}

/* configuration from titles of header */
.h-items {
  width: 100%;
  font-size: var(--normal-text-sscreen);
  text-shadow: 1px 1px 1px #000;
  z-index: 5;
  margin-bottom: 25px;
  letter-spacing: 1px;
  line-height: 1.6;
  text-shadow: 0 0 1px #555;
}


/*  */
.container {
  width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  height: auto;
  width: 90%;
}

.tittle {
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  font-size: var(--secundary-tittle-sscreen);
  text-align: center;
}

/*Content of my knowledge section */
/* main container */
.tools-cont {
  display: flex;
  align-items: baselines;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  height: 200px;
}

/* containers from img */
.tools {
  margin: 10px;
  border-radius: 15px;
  width: calc(3em + 1vw);
  height: calc(3em + 1vw);
  min-width: calc(3em + 1vw);
  min-height: calc(3em + 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 5px;
}

.tools>img {
  border-radius: 20%;
  width: 95%;
  height: 95%;
  object-fit: cover;
}

.github {
  background-color: rgba(200, 200, 200, 0.9)
}

/* container for proyects */
.proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.proyects-main {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px #aaa;
}

.proyects-link {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}

.proyects-link>a {
  width: 290px;
  height: 250px;
  line-height: 250px;
  border-radius: 20px;
  box-shadow: 0 0 5px #888;
  color: #222;
  text-shadow: 0 0 4px #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 1000;
  font-size: var(--secundary-tittle-sscreen);
}

.proyects-link>a:hover {
  text-decoration: underline;
}

.proyects-description {
  display: flex;
  justify-content: baseline;
  width: 290px;
  height: 100%;
  margin: 40px 20px;
  text-align: center;
  padding-bottom: 10px;
  background-color: #2B395B;
  border-radius: 15px;
}

.proyects-description p {
  padding: 20px;
  font-size: var(--normal-text-sscreen);

}


.amara-cedrus {
  background-image: url("../Imagenes/AmaraCedrusMainPage.png");
  background-size: cover;
}

.typing-game {
  background-image: url("../Imagenes/typing-game.png");
  background-size: cover;
  background-position: center;
}
.ecommerce {
  background-image: url("../Imagenes/ecommerce.png");
  background-size: cover;
  background-position: center;
}


.cv-download {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-cont {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 3px #999;
}

.footer {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer>* {
  margin: 10px;
}

#linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: 1px solid ddd;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #fff
}

#linkedin a {
  color: #0961B8;
  text-decoration: none;
}

#linkedin:hover {
  background-color: rgba(240, 240, 240, 0.9);
}

#linkedin a:hover {
  cursor: pointer;
}

#email {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
}

#email:hover {
  text-decoration: underline;
}

/* responsive */
/* @media screen and (max-width:500px) {} */
@media screen and (min-width:768px) {

  .header {
    width: 80%;
  }

  .prof-name {
    width: 80%;
  }

  .proyects-link {
    width: 60%;
    margin: 10px;
  }

  .proyects-link>a {
    width: 500px;
    height: 450px;
    line-height: 450px;
  }

  .proyects-description {
    text-align: left;
    width: 500px;
    margin: 10px;
  }

}

@media screen and (min-width:1024px) {
  .header {
    width: 60%;
    min-height: 600px;
  }

  .header-container {
    min-height: 600px;
  }

  .bg-bar,
  .bar {
    height: 30px;
  }

}

@media screen and (min-width:1440px) {
  .prof-name {
    margin: 65px;
  }

  .header-container {
    min-height: 800px;
  }

  #name {
    font-size: var(--main-tittle-lscreen)
  }

  .h-items {
    font-size: var(--normal-text-lscreen);
  }

  .tittle {
    font-size: var(--secundary-tittle-lscreen);
  }

  .proyects-description p {
    font-size: var(--normal-text-lscreen);
  }
}

@media screen and (min-width:2560px) {

  .header {
    width: 50%;  
  }
}