* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Using barlow font from google */
body {
  font-family: 'Barlow', sans-serif;
}


:root {
  --whiteText:#ccc;
}

.header-container {
  height: 600px;
  overflow: hidden;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  color:#fff;
  background-image: linear-gradient(120deg, rgba(86, 114, 158, 0.6) 100%, rgba(106, 207, 253, 0.6) 100%), url(../Imagenes/Joseph-Mendez.jpg);
}
.bg {
  width: 50px;
  height:50px;
  background-color:rgba(175, 175, 175, 0.596);
  filter: blur(4px);
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:3;
  transition: .1s;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
/* configuration from titles of header */
.h-items {
  animation-name: h-items;
  animation-duration: 3s;
  animation-iteration-count: 4;
  font-size:45px;
  text-shadow: 2px 2px 15px #000;
  text-align: center;
  z-index: 5;
}
/* small animation from titles */
@keyframes h-items {
  0%   {text-shadow: 2px 2px 15px #f1f1f1; color:black;}
  
  100% { text-shadow: 2px 2px 15px #000; color:white;}
}
/* nav bar, usin display flex, position sticky to see it on every part of the page */
.navbar {
  z-index: 500;
  display: flex;
  justify-content: center;
  background: #333;
  position: -webkit-sticky;
  position: sticky;
  top:0;
}
.navbar a{
  text-decoration: none;
  color:#fff;
  padding: 14px 30px;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color:black;
}
/*  */
.container {
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(to right, #3a454d 0%, #596164 100%);  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align: justify;
}
/* All related to profile part */
.prof-img-div {
  width: 35%;
  background-color:#61686d
}
.prof-img {
  -webkit-filter: grayscale(100%);
  filter:grayscale(100%);
  height: 100%;
  width: 100%;
  border-radius:10px; 
  object-fit: cover; 
}
.prof {
  background-color:#61686d ;
  height: auto;
  width: 65%;
  padding:20px;
  color:var(--whiteText);
}
.prof h3 {
  color: black;
}

/* img {
  width: 100%;
  padding: 5px;
} */
/* Barra de porcentaje de mis habilidades, configuración general para todas las barras*/
.bg-bar {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  height:30px;
  text-align: center;
  width: 80%;
}
.bar {
  border-radius: 5px;
  height: 28px;
  width: 70%;
  color:#000;
  font-size: 20px;
}
/* configuraciones individuales de las barras */
/* color y porcentaje para la barra de html */
.bg-html {background-color: #E96228;} 
.bar-html {
  width:70%;
  background-color: #DD4B25;
}
/* color y porcentaje para la barra de css */
.bg-css {background-color: #3194F7;}
.bar-css {
  width: 75%;
  background-color: #2173F7;
}
/* color y porcentaje para la barra de js */
.bg-js {background-color: #F7E018;}
.bar-js {
  width: 55%;
  background-color: #d4bf00;
}
/* color y porcentaje para la barra de git */
.bg-git {background-color: #F7F7F7;}
.bar-git {
  width: 20%;
  background-color: #E84D31;
}
/* color y porcentaje para la barra de git */
.bg-python {background-color: #F7D24A;}
.bar-python {
  width: 20%;
  background-color: #3873A1;
}

.cv-download {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background-color: #1f1f1f;
}
.cv-download a {
  padding:10px;
  color:var(--whiteText);
  font-size: 25px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.cv-download a:hover {
  color: #000;
  box-shadow: inset 200px 0 0 0 #ffffff;;
}
.footer {
  padding:20px;
  text-align: center;
  background: #ddd;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}

#linkedin {
  margin: 0;
  font-size: 35px;
  border:1px solid white;
  padding: 12px 14px;
  border-radius: 50%;
  transition: 0.3s;
} 
#linkedin a{
  color: #000;
  text-decoration: none;
}

#linkedin:hover {
  background-color:rgb(255, 255, 255);
}

#linkedin a:hover {
  color:#0274B3;
  cursor: pointer;
}

#email {
  color:#000;
  text-decoration: none;
}
#email:hover {
  text-decoration: underline;
}
/* responsive for content */
@media screen and (max-width:1000px) {
  .bg-bar{width: 95%;}
}

@media screen and (max-width:800px) {
  .h-items {font-size: 35px;}
  .bg-bar{width: 90%;}
  .container {flex-direction: column; align-items: center;text-align: center;}
  .prof-img-div { width: 100%;}
  .prof-img {height:auto; width:80%;}
  .prof {width: 100%; padding: 0 10px; text-align: justify;}
}

@media screen and (max-width:500px) {
  .h-items {font-size: 30px;}
  .footer {padding:10px;}
  .footer h2{font-size: 18px;}
  #linkedin {padding:10px 12px; font-size: 20px;}
  .navbar a{padding:10px 16px}
}


